#eureka2{
    font-family: 'Days One', sans-serif;
}
#CC{
    font-family: 'Courgette', cursive;
    
}
#CC2{
    font-family: 'Courgette', cursive;
}
#navegacion1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#navegacion2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#navegacion3{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#navegacion4{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#navegador2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
//navegación: suscripción
#navegacion{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}


//Eureka perteneciente a "suscripciones" (logo)
#eureka3{
    font-family: 'Days One', sans-serif;
}