#navegacion1{//nosotros
    font-size: 1em;
    margin-left: 2em;
}
#navegacion2{//libros
    font-size: 1em;
}
#navegacion3{//teatro
    font-size: 1em;
}
#navegacion4{//cine
    font-size: 1em;
}

//navegación: suscripción
#navegacion{
    font-size: 1em;
    margin-left: 10px;

    
}
#boton{
    margin-right: 10px;
    border-radius: 5px;

    
}


